$mobile: 768px;
$tablet: 1200px;
$desktop1: 1380px;

@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}

@mixin tablet{
    @media (max-width: $tablet){
        @content;
    }
}

@mixin desktop1{
    @media (max-width: $desktop1){
        @content;
    }
}