@import './variables.scss';
@import './_mixin.scss';

.container {
    overflow: hidden;
    .wrap{
        display: flex;
        flex-wrap: nowrap;
    }
}
.section {
    height: 100vh;
    flex: 1 0 100vw;
    overflow: hidden;
    box-sizing: border-box;

}

.sc_intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8d8cf;
    .bg{
        position: absolute;
        left: 0;
        width: 0;
        height: 100%;
        background: #0078dc;
    }
    .curr{
        position: absolute;
        top: 0;left: 0;padding: 20px;
        z-index: 2;
        font-family: $font-en2;
        .num{font-size: 40px;}
    }
    .sc_title{
        position:static;
        z-index: 5;
        font-family: $font-en2;
        font-size: 8vw;
        font-weight: 600;
        line-height: 1.3;
        text-align: center;
        mix-blend-mode: difference;
        span{display: block;}
        .desc{
            margin-top: 2vw;
            font-size: 18px;
            font-weight: 300;
            opacity: 0.5;
            @include mobile{ font-size:12px; }
        }
    }
}


.sc_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    position: relative;
    background: #e8d8cf;
    color: #fff;

    .circle01{position: absolute;}
    .circle02{position: absolute;}

    .txt_wrap{
        z-index: 5;
    }
    .sc_title{
        font-size: 3vw;
        line-height: 1.3;
        margin-bottom:50px;
        font-weight: 500;
        
    }
    .desc{
        font-size: 22px;
        line-height: 1.4;
        color: #fff;
        word-break: keep-all;
    }

    @include mobile{
        padding:0 8%;
        .sc_title{
            font-size:6vw;
        }
        .desc{
            font-size:16px;
        }
    }

}

.sc_works{
    display:flex;
    @include tablet{
        flex-wrap:wrap;
    }
    @include mobile{
        flex-wrap:wrap;
    }
    .cont{
        position:relative;
        width:25vw;
        box-sizing: border-box;
        border-right:1px solid #ddd;
        position:relative;
        &::after{
            content:'';
            position:absolute; top:0; left:0;
            width:100%; height:100%; 
            background-color:rgba(0,0,0,.2);
        }
        @include desktop1{ width:25vw; }
        @include tablet{
            width:50%;
        }
        @include mobile{
            width:50%;
        }
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            z-index:-1;
            position:absolute; top:0; left:0;
        }
    }
    .txt_wrap{
        width:100%;
        position:absolute; top:50%; left:50%;
        transform:translate(-50%,-50%);
        z-index:1;
        span{
            display:block;
            text-align:center;
            font-size:14px;
            font-family: $font-en1;
            letter-spacing: -0.05em;
            padding-bottom:10px;
            margin-bottom:10px;
            position:relative;
            &::after{
                content:'';
                position:absolute; bottom:0; left:50%;
                transform:translateX(-50%);
                width:40px; height:1px;
                background:#ddd;
                
            }
        }
        .tit{
            font-size:36px;
            font-weight: 600;
            font-family: $font-en1;
            letter-spacing: -0.08em;
            text-align:center;
            margin-bottom:20px;
            word-break: keep-all;
            line-height: 1.2;
        }
        .link{
            text-align: center;
            a{
                display:inline-block;
                text-align:center;
                width:80px; height:30px;
                border:1px solid #ddd;
                line-height: 30px;
                font-size:12px;
                margin-right:5px;
                transition: 0.5s;
            }
        }
        @include tablet{
            .tit{ font-size:28px; }
        }
        @include mobile{
            span{ font-size:12px; }
            .tit { font-size:22px; }
            .link{
                a{
                    display:block;
                    margin:0 auto;
                    margin-top:10px;
                    font-size:12px;
                    height:25px; line-height: 25px;
                }
            }
        }
    }
    .cont:nth-child(1) .link{
        a:hover{
            background:#000;
            border-color:#000;
        }
    }
    .cont:nth-child(2) .link{
        a:hover{
            background:#0890c0;
            border-color:#0890c0;
        }
    }
    .cont:nth-child(3) .link{
        a:hover{
            background:#f47320;
            border-color:#f47320;
        }
    }
    .cont:nth-child(4) .link{
        a:hover{
            background:#0158a8;
            border-color:#0158a8;
        }
    }
}