
@import './_mixin.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Prosto+One&family=Roboto:wght@300;400;500&display=swap');
@import url('./reset.css');
@import url('./common.css');

body{
    min-width:1400px;
}

.header{
    width:100%; 
    .inner{
        width:100%; position:fixed;
        left:0; top:20px;
        padding:0 30px;
        box-sizing: border-box; z-index:10;
    }
    
    .logo{
        a{
            display:block;
            width:100%;
        }
        .logo_img{
            display: inline-block;
            width:100px; height:23px;
            background: url('https://www.kia.com/content/dam/kwcms/kr/ko/images/common/logo_w.png') center center no-repeat;
        }
    }
    .btnCall{
        position:absolute;
        top:50%; right:30px;
        transform:translateY(-50%);
        width:50px; height:20px;
        box-sizing: border-box;

        &.on{
            &::before{
                top:50%; transform:rotate(45deg);
            }
            &::after{
                bottom:50%; transform:rotate(-45deg);
            }
            span{
                opacity:0;
            }
        }
        &>span{
            display:block;
            width:100%; height:1px;
            background:#ddd;
            position:absolute; top:50%; left:0;
            text-indent: -99999px;
            transition:0.5s;
        }
        &::before{
            content:''; display:block;
            width:100%; height:1px;
            background:#ddd;
            position:absolute; top:0; left:0;
            transform:rotate(0deg);
            transition:0.5s;
        }
        &::after{
            content:''; display:block;
            width:100%; height:1px;
            background:#ddd;
            position:absolute; bottom:0; left:0;
            transition:0.5s;
        }

    }
    .menu{
        width:100%; height:100%;
        display:flex; align-items: center;
        padding:0 30px;
        box-sizing: border-box;
        position:fixed; margin:0 auto;
        top:-100%; left:0;
        background-color: #0a222e;
        z-index:9; opacity: 0;
        transition:0.5s;
        &.on{
            top:0; opacity: 1;
        }
        .wrap{
            width:100%;
            max-width:480px;
            margin:0 auto; position:relative;
            padding:40px 0;
            box-sizing: border-box;
        }
        .main_menu{
            li{
                a{
                    display:flex;
                    padding:10px; color:#fff;
                    position:relative;
                    box-sizing: border-box;
                }
                span{
                    display:block;
                    position:absolute; top:0; right:100%;
                    padding-top:1.5em;
                    padding-right:10px;
                    font-size: 13px;
                    line-height: 10px;
                    letter-spacing: 1.6px;
                    opacity: .4;
                }
                strong{
                    display:block;
                    position:relative;
                    font-size: 40px;
                    line-height: 38px;
                    letter-spacing: -.01579em;
                    font-weight: 400;
                    margin-bottom: 0.52em;
                }
            }
        }
        .sub_menu{

            &>li a{
                display:inline-block;
                font-size:20px;
                padding:10px;
                color:#fff;
                line-height:22px;
                align-items:center;
                letter-spacing: 1.6px;
            }
        }
    }
}

.footer{
    .pre_footer{
        background-color: #0a222e;
        position: relative;
        z-index:11;
        .inner{
            width: 100%;
            padding-left: 4.16667%;
            padding-right: 4.16667%;
            box-sizing: border-box;
            .top_wrap{
                display:flex;
                align-items: center;
                justify-content: space-between;
                padding:40px 0 30px 0;
                border-bottom:1px solid rgba(255,255,255,0.3);
                position:relative;
            }
            .left{
                width:50%;
                padding-right:5.55556%;
                p{
                    font-family: $font;
                    font-size:26px;
                    letter-spacing: -.01429em;
                    font-weight: 400;
                }
            }
            .right{
                padding-left: 5.55556%;
                width:50%;
                fieldset{
                    width:100%;
                }
                form{
                    width:100%;
                    max-width:480px;
                    display:flex;
                    position:relative;
                    margin-left:auto;
                }
                label{
                    display:block;
                    font-family: $font;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 1.6px;
                    margin-bottom:10px;
                }
                input[type=email]{
                    display:inline-block;
                    width:66%;  min-height: 50px;
                    border:none;
                    border-bottom:1px solid rgba(255,255,255,0.3);
                    padding:10px 20px 10px 0;
                    box-sizing: border-box;
                    font-family: $font;
                    font-size:15px;
                    line-height: 1.15;
                    color:#fff;
                    background-color: transparent;
                }
                button{
                    display:inline-block;
                    width:30%; min-height: 50px;
                    border:none;
                    background-color: transparent;
                    border-top:1px solid rgba(255,255,255,0.3);
                    border-bottom:1px solid rgba(255,255,255,0.3);
                    padding:10px 30px;
                    box-sizing: border-box;
                    font-family: $font;
                    font-size:13px;
                    line-height: 15px;
                    letter-spacing: 1.6;
                    color:#fff;
                    
                }
            }
            .wrap{
                width:100%;
                padding-left: 12.5%;
                padding-right: 12.5%;
            }
        }
    }
    .ori_footer{
        width:100%;
        padding:60px 0;
        background-color: #0a222e;
        position: relative;
        box-sizing: border-box;
        z-index:11;
        .inner{
            width:100%;
            padding-left: 4.16667%;
            padding-right: 4.16667%;
            box-sizing: border-box;
        }
        .logo{
            padding-left: 12.5%;
            padding-right: 12.5%;
            text-align:center;
            a{
                display:block;
                width:100%;
            }
            .logo_img{
                display: inline-block;
                width:100px; height:23px;
                background: url('https://www.kia.com/content/dam/kwcms/kr/ko/images/common/logo_w.png') center center no-repeat;
            }
        }
        .footer_menu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-top:50px;
            padding-bottom:40px;
            a{
                padding:0 20px;
                span{
                    font-family: $font;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 1.6px;
                }
                i{
                    font-size:12px;
                }
            }
        }
        .bottom{
            display:flex;
            justify-content: space-between;
            margin-top:100px;
            box-sizing: border-box;
            h3{
                font-family: $font;
                letter-spacing: .142857px;
                font-size: 16px;
                line-height: 22px;
            }
            .left{
                width: 40.90909%;
                padding-right: 4.54545%;
                box-sizing: border-box;
                .info{
                    display:inline-block;
                    padding-top:20px;
                    margin-right:10px;
                    span{
                        display:block;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: .4px;
                    }
                }
            }

            .center{
                width: 27.27273%;
                .sns{
                    padding-top:20px;
                    max-width:300px;
                }
                a{
                    display:inline-block;
                    padding-right:20px;
                    letter-spacing: .142857px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .right{
                width: 31.81818%;
                padding-left: 4.54545%;
                .util{
                    padding-top:20px;
                    a{
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: .4px;
                        padding-right:20px;
                    }
                }
            }
        }
    }
}
