@import './_mixin.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Titillium+Web:wght@300;400;600&display=swap');
@import url('./reset.css');
@import url('./common.css');

@font-face {
    font-family: 'NanumSquare';
    src: url('../font/NanumSquareR.eot'); /* IE9 Compat Modes */
    src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../font/NanumSquareR.woff2') format('woff2'), /* Super Modern Browsers */
            url('../font/NanumSquareR.woff') format('woff'), /* Pretty Modern Browsers */
            url('../font/NanumSquareR.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400
}

body{
    .tit{
        text-align: center;
        h2{
            font-family: $font;
            font-size: 42px;
            line-height: 1;
            padding-bottom: 50px;
        }
        @include tablet{
            h2{ font-size:24px; padding-bottom:15px; }
        }
    }
    &.hidden{
        overflow: hidden;
    }
}

.header{
    width:100%; position:fixed; top:0; left:0;
    z-index:11;
    &.on{
        .logo{
            background:url('https://www.hwenc.co.kr/resource/images/logo_on.png') center/100% no-repeat;
        }
        .inner{
            background:#fff;
        }
        &>.inner .gnb{
            ul li a{
                color:#111;
                z-index:2;
            }
        }
        &>.inner .util a{
            color:#111;
            border-right:1px solid #ddd;
            &:last-child{
                border-right:none;
            }
        }
        &>.inner .btnCall{
            span, &::after, &::before{
                background-color:#222;
            }
        }
    }
    .inner{
        height:107px; 
        @include mobile{
            height:75px;
        }
    }
    .logo{
        position:absolute;
        top:50%; left:40px; 
        width:170px; height:56px;
        background:url('https://www.hwenc.co.kr/resource/images/logo.png') center/100% no-repeat;
        transform:translateY(-50%);
        a{
            display: block;
            width:100%;
        }
        @include mobile{
            width:110px; left:20px;
        }

    }
    .gnb{
        text-align:center;
        &>ul{
            font-size:0;
            &>li{
                display:inline-block;
                height:107px; line-height: 107px;
                padding:0 18px;
                font-size:0;
                box-sizing: border-box;
                
                &:hover{
                    &>a{
                        &::before{
                            width:100%; left:0;
                        }
                    }
                }
                &>a{
                    display:block;
                    font-size:18px;
                    font-weight: 700;
                    color:#fff;
                    position:relative;
                    &::before{
                        content:''; display:block;
                        width:0; height:4px;
                        background:$color-og;
                        position:absolute;
                        bottom:0; left:50%;
                        transition: all .3s;
                    }
                }
                .depth1{
                    background-color:#f5f5f5;
                    width:100%; position:absolute;
                    top:107px; left:0; z-index:-1;
                    display:none;
                    font-size:0;
                    &>li{
                        display:inline-block;
                        &>a{
                            font-size:16px;
                            padding:0 20px;
                            color:#666;
                        }
                    }
                }
            }
        }
        @include desktop1{
            display:none;
        }
    }
    .util{
        position:absolute; top:43px; right:60px;
        font-size:0;
        a{
            display:inline-block;
            font-size:14px;
            position:relative;
            height:22px; line-height:22px;
            margin-right:10px;
            padding-right:11px;
            border-right:1px solid #fff;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;
            color:#fff;
            &:last-child{
                border-right:none;
            }
        }
        @include desktop1{
            display:none;
        }
    }
    .btnCall{
        display: block;
        width:28px; height:20px;
        position:absolute; right:30px; top:43px;
        z-index: 13;
        &>span{
            display:block;
            width:100%; height:2px;
            background-color: #fff;
            position:absolute; top:50%; left:0;
            transition:0.5s;
            text-indent: -9999px;
            margin-top:-1px;
        }
        &::before{
            content:''; display:block;
            width:100%; height:2px;
            background-color: #fff;
            transform: rotate(0deg);
            position:absolute; top:0; left:0;
            transition:0.5s;
        }
        &::after{
            content:''; display:block;
            width:100%; height:2px;
            background-color: #fff;
            position:absolute; bottom:0; left:0;
            transition:0.5s;
            transform: rotate(0deg);
        }
        &.on{
            right:50px;
            @include mobile{ right:20px; }
            &>span{
                opacity:0;
            }
            &::before{
                transform: rotate(45deg);
                top:50%; margin-top:-1px;
                background-color: #111;
            }
            &::after{
                transform: rotate(-45deg);
                bottom:50%; margin-bottom:-1px;
                background-color: #111;
            }

        }
        @include mobile{
            width:20px; height:15px;
            top:50%; transform:translateY(-50%); right:20px;
        }
    }
    .pc_menu{
        position:fixed; width:100%; height:100%;
        top:0; left:0; z-index:12;
        background-color:#f5f5f5;
        display:none;
        &.on{
            display:block;
        }
        .top{
            width:100%; height:107px;
            position:relative;
            h1{
                position:absolute; top:50%;
                left:40px; transform:translateY(-50%);
                a{display:block; width:100%;}
                img{width:100%; height:100%; object-fit: cover;}
            }
            @include mobile{
                height:75px;
                h1{ width:110px; left:20px; }
            }
        }
        .menu_wrap{
            width:100%; height:auto;
            max-height:65%; min-height:65%;
            max-width:1200px; margin:0 auto;
            overflow-y:scroll;
            .menu{
                width:100%;
                border-bottom:1px solid #dbdbdb;
                padding:40px 0;
                font-size:0;
                box-sizing: border-box;
            }
            strong{
                display: inline-block;
                font-size: 22px;
                font-weight: 700;
                width: 20%;
                padding-left: 4.5%;
                line-height: 1;
                vertical-align: top;
                box-sizing: border-box;
            }
            ul{
                width:80%;
                display:inline-block;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    display: inline-block;
                    color: #000;
                    width: calc(100% / 6);
                    vertical-align: top;
                    ul{
                        display:block;
                        width:100%;
                        li{
                            display:block;
                            width:100%;
                            font-size:14px;
                            margin-top:20px;
                            a{
                                color:#666;
                            }
                        }
                    }
                }
            }
            @include mobile{
                max-width:none; width:auto;
                min-height:70%; max-height:70%;
                .menu{
                    padding:20px 4%;
                }
                strong{
                    display:block;
                    width:100%;
                    font-size:18px;
                    padding-left:0;
                    margin-bottom:20px;
                }
                ul{
                    width:100%;
                    li{
                        font-size:14px;
                        width: calc(100% / 3);
                        word-break: keep-all;
                        margin-bottom:10px;
                        ul{
                            li{
                                font-size:12px;
                                margin-top:15px;
                            }
                        }
                    }
                }
            }
        }
        .btn{
            width:100%; max-width:1200px; margin:50px auto 0 auto; text-align:center;
           
            @include mobile{
                max-width:none;
                margin: 30px 0 0 auto;
                height: 50px;
                padding: 0 4%;
                box-sizing: border-box;
                a{ width:100%; height:100%;
                    img{width:100%; height:100%; object-fit: cover;}
                }
            }
        }
    }        
}

.footer{
    background-color: #28282e;
    position: relative;
    z-index: 1;
    .inner{
        padding: 80px 100px 75px;
        @include mobile{
            padding:40px 25px 25px;
        }
    }
    .link{
        float:left; margin-top:-9px;
        a{
            display:block;
            font-size:12px;
            color:#ababab;
            line-height:30px;
        }
        @include mobile{ margin-bottom:10px; }
    }
    .family_site{
        float:right; width:200px;
        position:relative; margin-bottom:30px;
        select{
            width:100%; line-height:100%;
            border:none;
            border-bottom:1px solid #ababab;
            background:none;
            padding:15px 10px;
            font-weight: 600;
            font-size:14px;
            letter-spacing: 0.05em;
            color:#ababab;
            position:relative;
        }
        @include mobile{
            display:none;
            // float: none; width:100%; margin-bottom:10px; margin-top:10px;
            // select{
            //     font-size:12px; padding:10px;
            //     border-bottom:none;
            //     border:1px solid #ababab;
            // }
        }
    }
    address{
        clear:both;
        padding-top: 80px;
        color: #ababab;
        font-size: 12px;
        margin-bottom: 8px;
        @include mobile{ padding-top:10px; }
    }
    .copy{
        font-family: $font;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ababab;
    }
    .btn_top{
        position: relative;
        z-index: 1;
        background-color: #242429;
        height: 80px;
        text-align: center;
        padding-top: 30px;
        box-sizing: border-box;
        button{
            background: none;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.05em;
            color: #fff;
            text-transform: uppercase;
        }
        @include mobile{ display:none; }
    }
}
